
form {
    width: 350px;
}

form label {
    width: 100px;
    text-align: right;
}

form input {
    border: 2px solid lightgray;
}

.form-field {
    margin-bottom: 5px;
}

.form-buttons {
    margin-top: 10px;
    text-align: right;
}

.form-buttons button{
    width: 100%;
}