
<header class="l-header">
    <ul class="top-menu disable-link-styles">
        <li class="logo-small-container">
            <a class="v-center-block-parent">
                <img class="v-center-block logo-small angular-university-logo"
                     src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
                     data-pin-nopin="true">

            </a>
        </li>
        <li>
            <a>Lessons</a>
        </li>
        <li>
            <a>Sign Up</a>
        </li>
        <li>
            <a>Login</a>
        </li>
        <li>
            <a>Logout</a>
        </li>
    </ul>

</header>


