
<div id="lessons" class="lessons-list-container v-h-center-block-parent">


    <div class="lesson-detail card card-strong" *ngFor="let lesson of lessons$ | async">

        <h3>{{lesson.description}}</h3>

        <p>
            <ng-container *ngFor="let fragment of lesson.longDescription">

                <ng-container [ngSwitch]="fragment.type">

                    <ng-container *ngSwitchDefault>{{fragment.text}}</ng-container>

                    <b *ngSwitchCase="'BOLD'">{{fragment.text}}</b>

                    <i *ngSwitchCase="'ITALIC'">{{fragment.text}}</i>

                </ng-container>

            </ng-container>
        </p>


        <iframe class="lesson-video" [src]="safeResourceUrl(lesson.videoUrl)"></iframe>

    </div>


</div>